<?xml version="1.0"?>
<mods xmlns="http://www.loc.gov/mods/v3" xmlns:mods="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xlink="http://www.w3.org/1999/xlink">
  <titleInfo>
     <title>{{ title }}</title>
  </titleInfo>
  <identifier type="local" displayLabel="Local identifier">{{ title }}</identifier>
</mods>
