<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="MIK core tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <!--<log type="coverage-clover" target="coverage.xml"/>-->
        <log type="coverage-html" target="reports"/>
    </logging>
</phpunit>
