<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="../vendor/autoload.php">

    <testsuites>
        <testsuite name="MIK core tests">
            <directory>.</directory>
            <!-- Add an entry for directories that contain tests for manipulators
                 and post-write hook scripts. -->
            <exclude>FITS</exclude>
        </testsuite>
    </testsuites>

</phpunit>
