<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="../../vendor/autoload.php">

    <testsuites>
        <testsuite name="FITS tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- Define the full path to fits.sh/fits/bat on your system here. -->
        <var name="path_to_fits" value="/home/mark/Documents/hacking/fits/fits-0.8.10/fits.sh"/>
    </php>

</phpunit>
